body {
    background-color: #f0f0f0;
    color: #333;
    margin-top: 160px;
    font-family: 'Arial', sans-serif;
}

.img-fluid {
    max-width: 70%;
    border-radius: 8px;
}

.product-card {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.product-price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.product-price del {
    margin-right: 10px;
    color: #777;
}

.btn-add-to-cart {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.same-product {
    text-align: center;
    margin-top: 40px;
}

#danh_gia {
    margin-left: 20rem;
}

/* Kiểu dáng bổ sung cho giao diện đáp ứng */
@media (min-width: 768px) {
    .product-details {
        margin-top: 160px;
    }

    #danh_gia {
        margin-left: 0;
    }
}