.contents {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mb-4 h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.mb-4 h6 {
    font-size: 16px;
    color: #d6d6d6;
}

.form-group input {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

.btn-custom {
    color:  #cda45e;
    text-decoration: none;
    font-weight: bold;
}

.btn-custom:hover {
    text-decoration: underline;
}